{% extends 'dashboard_base.html' %}
{% block dashboard_content %}
<h3>Mi Empresa 🏢</h3>

{% if empresa %}
<ul class="list-group">
  <li class="list-group-item"><b>Nombre:</b> {{ empresa.nombre }}</li>
  <li class="list-group-item"><b>NIT:</b> {{ empresa.nit }}</li>
  <li class="list-group-item"><b>Dirección:</b> {{ empresa.direccion }}</li>
  <li class="list-group-item"><b>Tel:</b> {{ empresa.telefono }}</li>
  <li class="list-group-item"><b>Contador:</b> {{ empresa.contador.email }}</li>
</ul>
{% else %}
<div class="alert alert-warning">
  No tienes empresa registrada aún.
</div>
{% endif %}

{% endblock %}
