{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-3">Iniciar Sesión</h3>

                <form method="POST">
                    {% csrf_token %}
                    <input class="form-control mb-2" type="email" name="email" placeholder="Correo" required>
                    <input class="form-control mb-3" type="password" name="password" placeholder="Contraseña" required>

                    <button class="btn btn-dark w-100">Ingresar</button>
                </form>

                <div class="text-center mt-2">
                    <a href="/register/">Crear cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

